
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Poppins:wght@300;400&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar{
  font-size: 17px;
  line-height: 26px;
  box-shadow: 0 8px 6px -6px gray;
  --webkit-box-shadow:0 8px 6px -6px gray;
  border-bottom: solid gray !important;
}

.navbar-brand {
  font-weight: 700;
  font-family: "roboto", sans-serif;
  /* letter-spacing: 1px; */
}

/* footer */
.footer a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

.footer a:hover {
  color: gray;
}

/* page not found css */
.pnf {
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}


.pnf-title {
  font-size: 100px;
  font-weight: 700;
}
.pnf-heading {
  font-weight: normal;
}

.pnf-btn{
  color: black;
  border: 1px solid black;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
}

/* css for register page */
.register {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  flex-direction: column;
}